@model _2th.Entities.Post

@{
    ViewBag.Titles = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<div class="row">
    <div class="col-12">
            @*@Html.DisplayNameFor(model => model.Title)*@  
            @Html.DisplayFor(model => model.Title)        
    </div>
</div>
<div class="row">
    <div class="col-4">
        @Html.DisplayFor(model => model.Auther)
    </div>
    <div class="col-8">
        @Html.DisplayFor(model => model.Content)
    </div>
</div>
